body {
  padding: 0;
  margin: 0;
  background-color: #545863;
}

.flexContainer {
  display: flex;
  margin: 1.5rem;
  gap: 3rem;
  flex-direction: column;
}
.flexContainer .topContainer {
  display: flex;
  height: 40vh;
  border: 4px solid #00E8FC;
}
.flexContainer .topContainer span {
  display: flex;
  color: white;
  align-self: center;
  font-size: 10rem;
  margin: auto;
}
.flexContainer .bottomContainers {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.flexContainer .bottomContainers #left {
  height: 45vh;
  width: 28vw;
  border: 4px solid #00E8FC;
  text-align: center;
  font-family: "genos";
  color: white;
}
.flexContainer .bottomContainers #left p {
  margin: 5%;
  font-size: 1rem;
}
.flexContainer .bottomContainers #middle {
  height: 45vh;
  width: 28vw;
  border: 4px solid #00E8FC;
  font-family: "genos";
  color: white;
  text-align: center;
}
.flexContainer .bottomContainers #middle ul li {
  font-size: 2rem;
}
.flexContainer .bottomContainers #right {
  border: 4px solid #00E8FC;
  height: 45vh;
  width: 28vw;
  font-family: "genos";
  color: white;
  text-align: center;
}

.pfp {
  border-right: 4px solid #00E8FC;
  width: 15%;
  height: 100%;
}

@font-face {
  font-family: "genos";
  src: url(../../Genos-VariableFont_wght.ttf);
}